[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Charge monitor
Icon=harbour-chargemon
Exec=harbour-chargemon

[X-Sailjail]
Sandboxing=Disabled
OrganizationName=com.kimmoli
ApplicationName=harbour-chargemon
